// TODO: figure how i want to do this after introducing themes

.auth {
  --bg-color: var(--dark-periwinkle);
  --h1-color: var(--light-pink);
  --h3-color: var(--cream);
  --label-color: var(--cream);
  --input-select-color: var(--cream);
  --input-select-text-color: var(--primary-900);
  --button-color: var(--light-pink);
  --button-text-color: var(--primary-900);
  --p-color: var(--light-pink);
}

.nonauth {
  --bg-color: var(--dark-pink);
  --h1-color: var(--primary-300);
  --h3-color: var(--cream);
  --label-color: var(--cream);
  --input-select-color: var(--cream);
  --input-select-text-color: var(--primary-900);
  --button-color: var(--primary-300);
  --button-text-color: rgb(0, 0, 0);
  --p-color: var(--periwinkle);
}

.form {
  padding: 1.5rem;
  margin: 1.5rem auto 0 auto;
  width: 100%;
  max-width: 500px;
  background-color: var(--primary-300);
  border-radius: 2rem;
  position: relative;

  h1,
  h3 {
    text-align: center;
  }

  h3 {
    color: var(--primary);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .inline {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 0;
  }

  label {
    color: var(--primary-900);
    font-weight: 700;
    font-size: 1.5rem;
  }

  input,
  select,
  textarea {
    padding: 0.75rem 1rem;
    background-color: var(--cream);
    border-radius: 1.5rem;
    border: none;
    color: var(--primary-900);
    font-size: 1.125rem;
  }

  button {
    margin-top: 0.5rem;
  }

  .plusMinusButton {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: var(--primary-900);

    p {
      color: var(--primary-900);
      font-weight: 700;
    }

    svg {
      height: 2rem;
      width: 2rem;
      fill: var(--secondary);
    }
  }

  button.flag {
    background-color: transparent;
    position: absolute;
    right: 0;
    margin: -0.25rem 0.75rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 2px solid transparent;

    svg {
      height: 24px;
      width: 24px;
      fill: var(--secondary);
    }
  }

  button.flagged {
    background-color: var(--secondary);
    border-radius: 100%;
    svg {
      fill: var(--cream);
    }
  }
}

.success {
  width: 100%;
  justify-content: center;
  display: none;

  .content {
    text-align: center;
    background-color: var(--primary-300);
    padding: 1rem;
    border-radius: 8px;
    position: absolute;
    top: 30%;
    width: 225px;
    min-height: 184px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  button {
    margin: 0;
    background-color: var(--cream);
    font-weight: bold;
    padding: 0.5rem 1rem;
    min-width: 75px;
    width: 100%;
    height: 44px;
    color: var(--primary-900);

    svg {
      height: 24px;
      width: 24px;
      fill: var(--primary-900);
    }
  }

  .modify {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }
}
