.auth {
  --bg-color: var(--dark-periwinkle);
  --h1-color: var(--light-pink);
  --h3-color: white;
  --label-color: white;
  --input-select-color: white;
  --input-select-text-color: black;
  --button-color: var(--light-pink);
  --button-text-color: black;
  --p-color: var(--light-pink);
}

.nonauth {
  --bg-color: var(--dark-pink);
  --h1-color: var(--light-lavender);
  --h3-color: white;
  --label-color: white;
  --input-select-color: white;
  --input-select-text-color: black;
  --button-color: var(--light-lavender);
  --button-text-color: rgb(0, 0, 0);
  --p-color: var(--periwinkle);
}

.form {
  padding: 1.5rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--bg-color);
  border-radius: 2rem;
  position: relative;

  h1,
  h3 {
    text-align: center;
  }

  h1 {
    color: var(--h1-color);
  }

  h3 {
    color: var(--h3-color);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .inline {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 0;
  }

  label {
    color: var(--label-color);
    font-weight: 700;
    font-size: 1.5rem;
  }

  input,
  select,
  textarea {
    padding: 0.75rem 1rem;
    background-color: var(--input-select-color);
    border: none;
    border-radius: 1.5rem;
    color: var(--input-select-text-color);
    font-size: 1.125rem;
  }

  button {
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--button-color);
    font-size: 1rem;
    color: var(--button-text-color);
    text-decoration: none;
  }

  .plusMinusButton {
    background-color: transparent;
    padding: 0;
    margin: 0;

    p {
      color: white;
      font-weight: 700;
    }

    svg {
      height: 2rem;
      width: 2rem;
      fill: var(--light-pink);
    }
  }
}

.success {
  width: 100%;
  justify-content: center;
  display: none;

  .content {
    text-align: center;
    background-color: var(--p-color);
    padding: 1rem;
    border-radius: 8px;
    position: absolute;
    top: 30%;
    width: 225px;
    min-height: 184px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
  }

  button {
    margin: 0;
    background-color: white;
    color: var(--dark-periwinkle);
    font-weight: bold;
    padding: 0.5rem 1rem;
    min-width: 75px;
    width: 100%;

    svg {
      height: 24px;
      width: 24px;
      fill: var(--dark-periwinkle);
    }
  }

  .modify {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }
}
