.chip {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--primary-300);
  padding: 1rem 1.5rem;
  border-radius: 3rem;

  .palette {
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.chip.selected {
  background-color: var(--secondary-400);
}

.chip.selected:hover {
  background-color: var(--cream-dark);
}

.chip:hover {
  background-color: var(--cream-dark);
  transition: all 300ms ease-in-out;
}
