:root {
  --dark-periwinkle: #a7abde;
  --periwinkle: #c8ceee;
  --dark-lavender: #d8bee5;
  --lavender: #e8daf0;
  --light-lavender: #f3e4f5;
  --light-pink: #fcdceb;
  --dark-pink: #f8a9ce;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--karla);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: var(--karla);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
