.page {
  padding: 1.5rem;
}

.header {
  position: relative;
  h1 {
    text-align: center;
  }

  .search {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--secondary);
    border-radius: 100%;
    position: absolute;
    top: 2.25rem;
    left: 0;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: var(--cream);
      position: absolute;
      top: 0.5rem;
      right: 0.45rem;
    }
  }
}

.entries {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
