.page {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  h2,
  h3 {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
  }

  h2,
  h3 {
    background-color: var(--primary-300);
  }

  p {
    margin: 0.5rem 0 0 0;
  }

  .spend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    p {
      text-align: center;
      font-size: 2rem;
      margin: 1.5rem 0 0 0;
    }

    div:first-child {
      flex-basis: 100%;
    }

    div:nth-child(2),
    div:last-child {
      flex: 1 1 0;
    }
  }

  .viewSpendInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    label {
      font-size: 1.25rem;
      font-weight: 700;
    }

    select {
      padding: 0.5rem;
      border: none;
      border-radius: 1.5rem;
      font-size: 1.25rem;
      color: var(--primary-900);
      background-color: var(--secondary-400);
      flex: 1 1 0;
    }
  }

  .categorySpend {
    margin: 1.5rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 1.5rem;
    background-color: var(--primary-300);
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;

    .category {
      text-align: center;

      svg {
        height: 3rem;
        width: 3rem;

        path {
          fill: var(--primary);
        }
      }

      p {
        font-size: 1.25rem;
      }

      p:last-child {
        font-size: 0.75rem;
        font-style: italic;
        margin: 0;
      }
    }
  }
}
