.page {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 {
    color: var(--dark-periwinkle);
  }

  h2,
  h3 {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
  }

  h2 {
    background-color: var(--light-pink);
    margin: 1rem 0 0 0;
  }

  h3 {
    background-color: var(--light-lavender);
  }

  p {
    margin: 0.5rem 0 0 0;
  }
}
