.page {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  h2,
  h3 {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
  }

  h2,
  h3 {
    background-color: var(--primary-300);
  }

  p {
    margin: 0.5rem 0 0 0;
  }

  .spend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    p {
      text-align: center;
      font-size: 2rem;
      margin: 1.5rem 0 0 0;
    }

    div:first-child {
      flex-basis: 100%;
    }

    div:nth-child(2),
    div:last-child {
      flex: 1 1 0;
    }
  }
}
